swagger: "2.0"
info:
  title: example_service/example_service.proto
  version: version not set
tags:
  - name: ExampleService
consumes:
  - application/json
produces:
  - application/json
paths:
  /user:
    get:
      operationId: ExampleService_GetUser
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/example_serviceGetUserResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: id
          in: query
          required: false
          type: string
          format: int64
      tags:
        - ExampleService
  /user2:
    get:
      operationId: ExampleService_GetUser2
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/example_serviceGetUserResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: id
          in: query
          required: false
          type: string
          format: int64
      tags:
        - ExampleService
  /user3:
    get:
      operationId: ExampleService_GetUser3
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/example_serviceGetUserResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: id
          in: query
          required: false
          type: string
          format: int64
      tags:
        - ExampleService
definitions:
  GetUserResponseData:
    type: object
    properties:
      id:
        type: string
        format: int64
      name:
        type: string
  example_serviceGetUserResponse:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      data:
        $ref: '#/definitions/GetUserResponseData'
  protobufAny:
    type: object
    properties:
      '@type':
        type: string
    additionalProperties: {}
  rpcStatus:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      details:
        type: array
        items:
          type: object
          $ref: '#/definitions/protobufAny'
